<nav class="v navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/word/create"><%=title%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/word/create">単語検索<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/word/getAll">登録一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">ログアウト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">サブ２</a>
      </li>
    </ul>
  </div>
</nav>
